In [1]:
#Data cleaning to deal with missing numerical data

In [2]:
#import the required libraries

import pandas as pd
import numpy as np

In [3]:
#creating a pandas series with null values

data = pd.Series([1, np.nan, 'hello', None])

#np.Nan and None are the null values

In [5]:
#I want to extract all values which are null
data[data.isnull()]

1     NaN
3    None
dtype: object

In [6]:
#I want to extract all values which are not null

data[data.notnull()]

0        1
2    hello
dtype: object

In [12]:
#I want to drop all the rows with null values

data = data.dropna()

data

0        1
2    hello
dtype: object

In [13]:
#Define a new Series

newData = pd.Series([np.nan, np.nan, 2, None, 3])

newData

0    NaN
1    NaN
2    2.0
3    NaN
4    3.0
dtype: float64

In [14]:
#Method-1: Fill null values with 0
newData.fillna(0)

0    0.0
1    0.0
2    2.0
3    0.0
4    3.0
dtype: float64

In [15]:
#Method-2: Forward Filling

newData.fillna(method='ffill')

0    NaN
1    NaN
2    2.0
3    2.0
4    3.0
dtype: float64

In [16]:
#Method-3: Backward Filling
newData.fillna(method = 'bfill')

0    2.0
1    2.0
2    2.0
3    3.0
4    3.0
dtype: float64

In [17]:
#Let's define a dataframe with null values

df = pd.DataFrame([[1,np.nan, 2],
                  [2,3,5],
                   [np.nan, 4, 6]])

df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [18]:
#Drop rows with null values

df.dropna()

     0    1  2
1  2.0  3.0  5

In [19]:
#Drop columns with null values

df.dropna(axis = 'columns')

   2
0  2
1  5
2  6

In [20]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [21]:
#Try to do a ffill of the df at both rows and cols levels

In [22]:
df.fillna(method = 'ffill', axis = 'columns')

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

###### The End